.registerSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 100px;
}
.form_container{
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(222, 220, 220);
    border-radius: 5px;
    margin: 0 auto;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    text-align: center;
    padding: 50px 20px;
}
.form_container input{
    width: 100%;
    height: 30px;
    border-radius: 4px;
    border: 1px solid rgb(213, 211, 211);
    padding-left: 10px;
    font-size: 14px;
 
}
.first_last{
    display: flex;
    gap: 30px;
}
.register_button{
    margin-top: 20px;
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 5px;
    background-color: #5570f5;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.password{
    position: relative;
}
.password_toggle{
    position: absolute;
    right: 1px;
    top: 60%;
    transform: translateY(-50%);

}
.password_toggle svg{
    font-size: 20px;
    color: grey;
}