/* Full page container */
.container {
  width: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  background-image: url("../../assets/bg.jpeg");
  background-size: cover;
  background-position: center;
}

/* Wrapper for slider + About */
.containerContent {
  max-width: 55rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}
/* Slider container */
.sliderContainer {
  width: 100%;
  overflow: hidden;
}
/* Slider wrapper (SignIn + SignUp) */
.sliderWrapper {
  display: flex;
  width: 200%;
  transition: transform 0.5s ease-in-out;
}

/* Each panel */
.formPane {
  width: 50%;
}

@media (max-width: 768px) {
  .containerContent {
    grid-template-columns: 1fr;
  }
}
